
.gradle/
build/
*/build/
!gradle/wrapper/gradle-wrapper.jar


*.local


.idea/
*.iml
.project
.classpath
.settings/
.vscode/


*.log


.DS_Store
Thumbs.db


google-services.json
app/google-services.json
*/google-services.json
*.plist


*.jks
*.keystore
*.keystore.jks
signing.properties
key.properties


captures/
outputs/
app/release/
app/debug/


*.class
/.gradle


.cxx/
.externalNativeBuild/
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
