<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShipVoyage">
        <activity
            android:name=".MainActivity"
            android:exported="true" >
        </activity>

        <!-- Auth Activities -->
        <activity android:name=".ui.auth.LoginActivity" android:exported="false" />
        <activity android:name=".ui.auth.SignupActivity" android:exported="false" />
        <activity
            android:name=".ui.auth.UserTypeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Admin Activities -->
        <activity android:name=".ui.admin.AdminDashboardActivity" android:exported="false" android:hardwareAccelerated="false" />
        <activity android:name=".ui.admin.ManageShipsActivity" android:exported="false" android:hardwareAccelerated="false" />
        <activity android:name=".ui.admin.ManageRoomsActivity" android:exported="false" android:hardwareAccelerated="false" />
        <activity android:name=".ui.admin.ManageToursActivity" android:exported="false" android:hardwareAccelerated="false" />
        <activity android:name=".ui.admin.ManageTourInstancesActivity" android:exported="false" android:hardwareAccelerated="false" />
        <activity android:name=".ui.admin.ManageFeaturedPhotosActivity" android:exported="false" android:hardwareAccelerated="false" />
        <activity android:name=".ui.admin.ViewBookingsActivity" android:exported="false" android:hardwareAccelerated="false" />
        <activity android:name=".ui.admin.CustomerListActivity" android:exported="false" android:hardwareAccelerated="false" />
        <activity android:name=".ui.admin.AdminProfileActivity" android:exported="false" android:hardwareAccelerated="false" />

        <!-- Passenger Activities -->
        <activity android:name=".ui.passenger.PassengerHomeActivity" android:exported="false" />
        <activity android:name=".ui.passenger.UpcomingToursActivity" android:exported="false" />
        <activity android:name=".ui.passenger.SearchResultsActivity" android:exported="false" />
        <activity android:name=".ui.passenger.TourDetailsActivity" android:exported="false" />
        <activity android:name=".ui.passenger.BookingActivity" android:exported="false" />
        <activity android:name=".ui.passenger.PaymentActivity" android:exported="false" />
        <activity android:name=".ui.passenger.ProfileActivity" android:exported="false" />
        <activity android:name=".ui.passenger.MyBookingsActivity" android:exported="false" />
        <activity android:name=".ui.passenger.SupportActivity" android:exported="false" />
    </application>

</manifest>